Source: python-whiteboard
Section: games
Priority: optional
Maintainer: Pere Negre <pere.negre@gmail.com>
Build-Depends-Indep: python (>= 2.1)
Build-Depends: debhelper (>= 4.1.25)
Standards-Version: 3.7.2

Package: python-whiteboard
Architecture: all
Depends: python-pygame (>= 1.5.6), python-bluez (>= 0.14), python-qt4 (>= 4.0), python-numpy (>= 1:1.0), python-cwiid (>= 0.5), python-xlib (>= 0.10), ${python:Depends}
Description: Make your own electronic whiteboard
 python whiteboard is a program that lets you build your own
 electronic whiteboard. You only need a wii remote and a IR pen
